@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.headline_tag{
    color: var(--dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}

.normal_text{
    color:#727272;
    font-size: 16px;
    font-weight: 400;
}
.primary_btn{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    cursor: pointer;
    outline: none;

    color: #FFF;
    font-size: 20px;
}
/* primary style Ends*/
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff8f0e2f;
    padding: 50px 240px;

}
.header_container a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    margin-right: 25px;
}
/* Header section done */
.info_container{
    background-color: #ff8f0e2f;
    padding-left: 250px;
    padding-right: 250px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
.info_div{
    text-align: center;
}
.title_tag{
    color:#131313;
    font-size: 64px;
    font-weight: 700;
}
.info_container p{
    margin-bottom: 30px;
    margin-top: 50px;
}
.info_container button{
    margin-bottom: 70px;
}
.banner{
    margin: 0 auto;
    margin-bottom: 45px;
}
.banner img{
    width: 100%;
}

/* quick Feature */
.feature_container{
    display:flex ;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 300px;
}
.img_div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.feature_div h1{
    margin-bottom:25px ;
}
.feature_div p{
    max-width:530px ;
    margin-bottom: 20px;
}
.quick{
    color:#727272;
    font-size: 45px;
    font-weight: 500;
}
.feature_text{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

/* responsive codes */
@media screen and (max-width:578px) {
    .header_container, .feature_container{
        flex-direction: column;
        padding: 20px;
    }
    .info_container{
        padding: 20px;
    }
    .img_div{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature_container h1{
        margin-top: 20px;
    }
    
}

@media screen and (min-width:578px) and (max-width:998px) {
    .header_container, .feature_container{
        flex-direction: column;
        padding: 20px;
    }
    .info_container{
        padding: 20px;
    }
    .banner img{
        width: 100%;
    }
    .feature_container h1{
        margin-top: 20px;
    }
}