@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.headline_tag{
    color: var(--dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}


/* primary style Ends*/
.header_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff8f0e2f;
    padding: 50px 240px;

}
.header_container a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    margin-right: 25px;
}
/* Header section done */
